<html>

<head>
    <title>elice - 배다른 식샤</title>
    <script>
        function postContent() {
            $('#frm').submit();
        }

        function postLike(id) {
            alert("POST Like!")
        }

    </script> 
</head>

<body>
    
    <h2 class="title">배달은 식샤</h2>
    <hr>
        <form id='frm' action='/post' method='POST'>
            고객아이디 <input type='text' name='user_id'/> <p></p>
            결제방식 <input type='text' name='order_method'/> <p></p>
            메뉴 <input type='text' name='menu'/> <p></p>
            <input type='submit' value='작성하기'/> <p></p>
        </form>
    <hr>
    
    
</body>
</html>